body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    width: 100%;
    max-width: 800px; /* Adjust as necessary for optimal width */
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.task-input {
    display: grid;
    grid-template-columns: 1fr 1fr auto; /* Adjust the distribution of input fields and button */
    gap: 10px;
    margin-bottom: 20px;
}

.task-input input, .task-input button {
    padding: 15px; /* Increased padding for better visibility */
    border-radius: 5px;
    border: 1px solid #ddd;
}

.task-input input {
    font-size: 1rem; /* Larger font size for better readability */
}

.task-input button {
    background-color: #4CAF50; /* A more vibrant button color */
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.task-input button:hover {
    background-color: #45a049;
}

.task-list div {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.task-completed {
    text-decoration: line-through;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .task-input {
        grid-template-columns: 1fr; /* Stack inputs and button on smaller screens */
    }
}
