/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d8f6ec;
}

header {
    background-color: rgb(96, 96, 157);
    color: #f1dfdf;
    text-align: center;
    padding: 1rem 0;
}

main {
    padding: 20px;
}

#task-input {
    padding: 10px;
    width: 70%;
}

#task-form input[type=datetime-local] {
    padding: 10px;
    margin-left: 5px;
}

button {
    padding: 10px;
    background-color: rgb(127, 127, 224);
    color: rgb(31, 63, 34);
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: rgb(240, 240, 245);
}

#tasks-list {
    margin-top: 20px;
}

.task {
    background: rgb(236, 236, 240);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column; /* Display buttons in a column */
    align-items: flex-start; /* Align buttons to the start (left) */
    transition: all 0.3s ease;
}

.task:hover {
    background-color: #636b6e;
}

.task.completed {
    text-decoration: line-through;
    opacity: 0.6;
}

.task button {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 5px; /* Add some margin between buttons */
}

.task button:hover {
    color: rgb(222, 23, 23);
}
